*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d );
    position: relative;
    color: #fff;
}

.clock-container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 30%;
    left: 18%;
    transform: translate(-50% -50%);
}

.clock-container::before{
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 5px;
    background: #f41b75;
    top: -20%;
    left: -5%;
    content: '';
}

.clock-container::after{
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: #419aff;
    bottom: -20%;
    right: -7%;
    content: '';
}

.clock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(235, 0, 235, 0.11);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.clock span{
    width: 110px;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 1rem;
    position: absolute;
    bottom: -10px;
    left: 35%;
}

.hrs::after{
    content: "Hours";
}

.min::after{
    content: "MIN";
}

.sec::after{
    content: "SEC";
}